body {
  font-family: "Open Sans", sans-serif;
}

h1 {
  /*6 times parent body*/
  font-size: 6em;
  text-align: center;
}

nav {
  /*1.5 times parent body*/
  font-size: 1.5em;
}

/*ul,li default block elements*/
ul,
li {
  display: inline;
  margin: 0;
  padding: 0;
}

/*landscape phone*/
@media (max-width: 768px) {
  h1 {
    font-size: 4em;
  }
}

/*potrait phone*/
@media (max-width: 576px) {
  h1 {
    font-size: 2.5em;
  }
}
